{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <h1>Список сторінок</h1>
  <p>(За алфавітом)</p>

  <div class='card my-3'>
    <div class='card-body'>
      <h4>B-C</h4>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='bio'
      >Bio</a>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='bootstrap'
      >BOOTSTRAP</a>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='Bootstrap3'
      >BOOTSTRAP_3</a>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='Bootstrap3'
      >Bootstrap_4</a>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='car'
      >CAR</a>
      <a
        class='btn btn-primary mx-3 text-uppercase'
        href='css'
      >CSS</a>
    </div>
  </div>

  <div class='card my-3'>
    <div class='card-body'>
      <h4>E-P</h4>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='education'
      >Education</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='error'
      >Error</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='Facebook'
      >Facebook</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='js'
      >js</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='mac'
      >mac</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='person'
      >person</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='program'
      >program</a>

    </div>
  </div>

  <div class='card my-3'>
    <div class='card-body'>
      <h4>S</h4>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shopcart'
      >shopcart</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shopcatalog'
      >shopcatalog</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shophome'
      >shophome</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shoporder'
      >shoporder</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shopprofile'
      >shopprofile</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='shopreview'
      >shopreview</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='skills'
      >skills</a>
      <a
        class='btn btn-primary mx-3 my-3 text-uppercase'
        href='summary'
      >summary</a>

    </div>
  </div>

  <div class='card my-3'>
    <div class='card-body'>
      <h4>E-P</h4>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='task21'
      >task_21</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='task22'
      >task_22</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='task31'
      >task_31</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='web'
      >web</a>
      <a
        class='btn btn-warning mx-3 text-uppercase'
        href='work'
      >work</a>

    </div>
  </div>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}